@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;
<!-- BOTTOM INFO -->
<section id="btm-info" class="uk-position-relative">
    <div class="uk-container">
        <div class="btm-info__content uk-text-center">
            <img src="/media/wc5fggyo/btm-info-img.jpg" alt="" class="uk-width-3-4@m uk-width-1-1">
        </div>
    </div>
</section>