
@inherits Umbraco.Web.Mvc.UmbracoViewPage

<header id="header" class="bg--white" uk-sticky>
    <!-- HEADER TOP -->
    <div class="header__top">
        <div class="uk-container ">
            <div class="uk-panel uk-flex uk-flex-middle uk-flex-between">
                <div class="header__logo"> 
                    <a href="/">
                        <img class="uk-logo" src="/media/d1olzotp/anmf-logo.svg" alt="Australian Nursing and Midwifery Federation">
                    </a>
                </div>
                <div class="uk-flex uk-flex-middle uk-visible@l uk-position-relative header__top-info">
                    <div>
                        <form action="/search" method="GET" id="search" class="uk-search uk-search-default">
                            <a class="search-button" href="javascript:;" uk-search-icon></a>
                            <input class="uk-search-input" name="searchtext" type="search" placeholder="Search ANMF">
                        </form>
                    </div>
                    <div>
                        <a href="/join-anmf"class="header__cta text--white">Join ANMF</a>
                    </div>
                </div>
                <!-- HEADER MOBILE -->
                <div class="uk-flex uk-flex-middle uk-hidden@l">
                    <div class="uk-navbar uk-navbar-container bg--white">
                        <div class="uk-navbar-left">
                            <button class="uk-navbar-toggle uk-button" href="#" uk-toggle="target: #offcanvas-push" type="button">
                                <span class="text--blue" uk-navbar-toggle-icon></span>
                            </button>
                        </div>
                    </div>
                    <!-- HEADER NAVIGATION MOBILE -->
                    <div id="offcanvas-push" uk-offcanvas="mode: slide; overlay: true">
                        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-padding-remove">
                            <div class="header__nav uk-flex uk-flex-middle uk-flex-between bg--white">
                                <div class="header__logo"> 
                                    <a href="/">
                                        <img class="uk-logo" src="/media/d1olzotp/anmf-logo.svg" alt="Australian Nursing and Midwifery Federation">
                                    </a>
                                </div>
                                <div class="uk-navbar-left">
                                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                                </div>
                            </div>
                            <div class="header__search">
                                <form action="/search" method="GET" id="mobile-search" class="uk-search uk-search-default">
                                    <a class="search-button" href="javascript:;" uk-search-icon></a>
                                    <input class="uk-search-input text--white" name="searchtext" type="search" placeholder="Search ANMF">
                                </form>
                            </div>
                            <ul class="header__mobile uk-nav uk-nav-primary uk-nav-center uk-nav-parent-icon" uk-nav>
                                @Html.Partial("~/Views/Partials/Navigations/Mobile-Navigation.cshtml", Model)
                            </ul>
                            <div>
                                <a href="/join-anmf"class="header__cta text--white">
                                    <span>Join ANMF</span>
                                </a>
                            </div>
                            <div>
                                <div class="header__socials uk-flex uk-flex-center uk-flex-middle">
                                    <a href="https://www.instagram.com/anmf_nursing_midwifery_union/" target="_blank"><img src="/media/znjdx31q/instagram-icon.svg" alt="Instagram Icon"></a>
                                    <a href="https://www.facebook.com/AustralianNursingandMidwiferyFederation" target="_blank"><img src="/media/2gaem4gb/fb-icon.svg" alt="Facebook Icon"></a>
                                    <a href="https://twitter.com/anmf_federal" target="_blank"><img src="/media/agkgl2ew/twitter-icon.svg" alt="Twitter Icon"></a>
                                    <a href="https://www.linkedin.com/company/australian-nursing-midwifery-federation/" target="_blank"><img src="/media/wzkjel4b/linkedin-icon.svg" alt="LinkedIn Icon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER NAVIGATION DESKTOP -->
    <div class="header__bottom uk-visible@l">
        <div class="uk-container">
            <div class="uk-panel uk-flex uk-flex-middle uk-flex-between">
                <div class="uk-navbar-container uk-navbar-transparent">
                    <nav class="uk-navbar-left header-nav">
                        <ul class="uk-navbar-nav">
                            @Html.Partial("~/Views/Partials/Navigations/MainNavigation.cshtml", Model)
                        </ul>
                    </nav>
                </div>
                <div class="header__socials uk-flex uk-flex-middle uk-flex-center">
                    <a href="https://www.instagram.com/anmf_nursing_midwifery_union/" target="_blank"><img src="/media/znjdx31q/instagram-icon.svg" alt="Instagram Icon"></a>
                    <a href="https://www.facebook.com/AustralianNursingandMidwiferyFederation" target="_blank"><img src="/media/2gaem4gb/fb-icon.svg" alt="Facebook Icon"></a>
                    <a href="https://twitter.com/anmf_federal" target="_blank"><img src="/media/agkgl2ew/twitter-icon.svg" alt="Twitter Icon"></a>
                    <a href="https://www.linkedin.com/company/australian-nursing-midwifery-federation/" target="_blank"><img src="/media/wzkjel4b/linkedin-icon.svg" alt="LinkedIn Icon"></a>                
                </div>
            </div>
        </div>
    </div>
</header>