
@inherits Umbraco.Web.Mvc.UmbracoViewPage

 <!-- FOOTER -->
<footer id="footer">
    <div class="footer__top">
        <div class="uk-container">
            <div class="uk-flex-start" uk-grid>
                <div class="uk-width-1-4@l uk-width-1-1">
                    <a href="/">
                        <img src="/media/rpdm05j1/anmf-logo-white.svg" alt="ANMF Logo">
                    </a>
                </div>
                <div class="uk-width-1-3@l uk-width-1-1 uk-flex uk-flex-start">
                    <div class="uk-width-1-2">
                        <ul class="uk-nav uk-nav-default">
                            <li><a href="/about">About ANMF</a></li>
                            <li><a href="/about/leadership">Leadership</a></li>
                            <li><a href="/media-campaigns">Media & Campaigns</a></li>
                            <li><a href="/resources">Resources</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-2">
                        <ul class="uk-nav uk-nav-default">
                            <li ><a href="/publications">Publications</a></li>
                            <li><a href="/about/reconciliation-action-plan">Reconciliation Action Plan</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="uk-width-expand@l uk-width-1-1">
                    <span class="footer__heading text--white f--12 f--bold uk-margin">Sign up for news & updates</span>
                    <form class="footer__form">
                        <div uk-grid>
                            <div class="uk-width-1-2 ">
                                <input class="uk-input" type="text" placeholder="First Name">
                            </div>
                            <div class="uk-width-1-2">
                                <input class="uk-input" type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="uk-margin" uk-grid>
                            <div class="uk-width-3-4">
                                <input class="uk-input" type="email" placeholder="Email">
                            </div>
                            <div class="uk-width-1-4">
                                <a href="javascript:;" class="primary--cta_text primary--cta_text-white text--white">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="uk-container">
            <div class="footer__copyright uk-text-center">
                Copyright © 2021 Australian Nursing & Midwifery Federation  | <br class="uk-hidden@m"><a href="javascript:;"> Privacy Policy</a>
            </div>
        </div>
    </div>         
</footer>


<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/scripts/global.js"></script>
<script src="/scripts/uikit-icons.min.js"></script>