@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;
<!-- MEMBERSHIP -->
<section id="members" class="uk-position-relative bg--gray">
    <div class="uk-container">
        <h2 class="members__header primary--heading f--bold ">Messages from <br class="uk-hidden@l">ANMF Leadership</h2>
        <div class="members__holder">
            <div class="members__boxes" uk-grid>
                <div class="uk-width-1-2@s uk-width-1-1">
                    <div class="uk-flex">
                        <picture>
                            <source media="(max-width: 1199px)" srcset="/media/f1efa5ph/members-img1-responsive.jpg">
                            <img src="/media/ye3kkaiq/members-img1.jpg" alt="Annie Butler" class="uk-width-1-1">
                        </picture>
                        <div class="members__boxes-info  uk-width-expand@l uk-width-1-1 uk-position-relative">
                            <h2 class="primary--heading text--black f--18 f--medium">
                                Annie Butler, 
                                <span class="primary--subheading uk-text-uppercase text--blue f--bold">ANMF Federal Secretary</span>
                            </h2>
                            <p class="text--gray f--14">
                                Let 2021 be the year that the collective voices of nurses and midwives enact real systemic change.
                            </p>
                            <a href="javascript:;" class="primary--cta_text">About Us</a>
                        </div>
                    </div>  
                </div>
                <div class="uk-width-1-2@s uk-width-1-1">
                    <div class="uk-flex">
                        <picture>
                            <source media="(max-width: 1199px)" srcset="/media/vopg1hin/members-img2-responsive.jpg">
                            <img src="/media/txlagwdv/members-img2.jpg" alt="Lori-Anne Sharp" class="uk-width-1-1">
                        </picture>
                        <div class="members__boxes-info uk-width-expand@l uk-width-1-1">
                            <h2 class="primary--heading text--black f--18 uk-position-relative f--medium">
                                Lori-Anne Sharp
                                <span class="primary--subheading uk-text-uppercase text--blue f--bold">ANMF Assistant Federal <br class="uk-hidden@l">Secretary</span>
                            </h2>
                            <p class="text--gray f--14">
                                Growing gender inequity in the wake of COVID
                            </p>
                            <a href="javascript:;" class="primary--cta_text">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>