@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section id="related-article">
    <div class="uk-container">
        <h2 class="primary--heading f--bold">Related Articles</h2>
        <!-- MEDIA AND CAMPAIGN SLIDER -->
        <div class="media-campaign__slider uk-flex slick-initialized slick-slider">
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1200px; transform: translate3d(0px, 0px, 0px);"><div class="media-campaign__slider-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 400px;">
                <figure class="uk-position-relative no--pseudo">
                    <img src="/media/3kcl2k4c/campaign-img1.jpg" alt="" class="uk-width-1-1">
                </figure>
                <div class="media-campaign__slider-item_info">
                    <h2 class="primary--heading text--black f--18 f--bold">
                        <span class="primary--subheading uk-text-uppercase text--blue">IN THE MEDIA</span>
                        ABC interview with <br class="uk-hidden@l">Annie <br class="uk-visible@l">Butler, ANMF Federal
                    </h2>
                    <p class="media-campaign__slider-item_date text--gray f--12">
                        Tuesday 27th July 2021
                    </p>
                    <p class="text--gray f--14">
                        Primum igitur, quid aut officiis debitis aut ad eam non quo quaerimus, non recusandae itaque negat opus esse expetendam et quale sit voluptatem et dolore suo sanciret militaris
                    </p>
                </div>
            </div><div class="media-campaign__slider-item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 400px;">
                <figure class="uk-position-relative no--pseudo">
                    <img src="/media/3e3i5puv/campaign-img2.jpg" alt="" class="uk-width-1-1">
                </figure>
                <div class="media-campaign__slider-item_info">
                    <h2 class="primary--heading text--black f--18 f--bold">
                        <span class="primary--subheading uk-text-uppercase text--blue">IN THE MEDIA</span>
                        ABC interview with <br class="uk-hidden@l">Annie <br class="uk-visible@l">Butler, ANMF Federal
                    </h2>
                    <p class="media-campaign__slider-item_date text--gray f--12">
                        Tuesday 27th July 2021
                    </p>
                    <p class="text--gray f--14">
                        Primum igitur, quid aut officiis debitis aut ad eam non quo quaerimus, non recusandae itaque negat opus esse expetendam et quale sit voluptatem et dolore suo sanciret militaris
                    </p>
                </div>
            </div><div class="media-campaign__slider-item slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 400px;">
                <figure class="uk-position-relative no--pseudo">
                    <img src="/media/t4chb2a1/campaign-img3.jpg" alt="" class="uk-width-1-1">
                </figure>
                <div class="media-campaign__slider-item_info">
                    <h2 class="primary--heading text--black f--18 f--bold">
                        <span class="primary--subheading uk-text-uppercase text--blue">IN THE MEDIA</span>
                        ABC interview with <br class="uk-hidden@l">Annie <br class="uk-visible@l">Butler, ANMF Federal
                    </h2>
                    <p class="media-campaign__slider-item_date text--gray f--12">
                        Tuesday 27th July 2021
                    </p>
                    <p class="text--gray f--14">
                        Primum igitur, quid aut officiis debitis aut ad eam non quo quaerimus, non recusandae itaque negat opus esse expetendam et quale sit voluptatem et dolore suo sanciret militaris
                    </p>
                </div>
            </div></div></div>
            
            
        </div>
        <!--: END MEDIA AND CAMPAIGN SLIDER -->
    </div>
</section>