@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;

<section id="showcase">
    <div class="uk-container">
        <h2 class="primary--heading f--bold">Join your local ANMF branch
            <span class="primary--subheading f--bold">
                When you join the union, you not only add to the collective strength of your local branch but also to the strength of the national union, increasing our ability to ensure the work of ANMF members across the country is respected, recognised, valued and rewarded. Visit your local branch to read about the many benefits of membership and the many gains that members have achieved.  <br class="uk-visible@m">
            </span>
        </h2>
        <!-- SHOWCASE LOGOS -->
        <div class="uk-grid-large uk-child-width-1-4@m uk-child-width-1-2 showcase__box" uk-grid>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/iizlwvi0/anmf-australian-capital-territory.jpg" alt="ANMF Australian Capital Territory">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.anmfact.org.au" target="_blank" class="text--black">Australian Capital Territory</a></h6>
            </div>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/xjdnf5k3/anmf-new-south-wales.jpg" alt="ANMF New South Wales">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.nswnma.asn.au" target="_blank" class="text--black">New South Wales</a></h6>
            </div>
            <div class="uk-card ">
                <figure class="uk-flex">
                    <img src="/media/bmwouvc2/anmf-northern-territory.jpg" alt="ANMF Northern Territory">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.anmfnt.org.au" target="_blank" class="text--black">Northern Territory</a></h6>
            </div>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/ksucnkzi/anmf-queensland.jpg" alt="ANMF Queensland">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.qnmu.org.au" target="_blank" class="text--black">Queensland</a></h6>
            </div>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/sejjw4mw/anmf-sa.jpg" alt="ANMF South Australia">
                </figure> 
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.anmfsa.org.au" target="_blank" class="text--black">South Australia</a></h6>
            </div>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/plwhoxl1/anmf-tasmania.jpg" alt="ANMF Tasmania">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://anmftas.org.au" target="_blank" class="text--black">Tasmania</a></h6>
            </div>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/nsaf4xr4/anmf-victoria.jpg" alt="ANMF Victoria">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.anfiuwp.org.au" target="_blank" class="text--black">Victoria</a></h6>
            </div>
            <div class="uk-card">
                <figure class="uk-flex">
                    <img src="/media/ft3k0nzv/anf-western-australia.jpg" alt="ANMF Western Australia">
                </figure>
                <h6 class="f--14 f--bold uk-text-left@m uk-text-center"><a href="https://www.anfiuwp.org.au" target="_blank" class="text--black">Western Australia</a></h6>
            </div>
        </div>
        <!-- :END SHOWCASE LOGOS -->
        <div class="showcase__p f--16 uk-text-italic text--gray">
            <p>
                Our members live and work in all areas of this country and the ANMF acknowledges Aboriginal and Torres Strait Islander people as Australia’s first people and Traditional Custodians.We acknowledge their continuing connection to the land, water and culture, and recognise their valuable contributions to society. We pay our respects to Elders past and present.
            </p>
        </div>
    </div>
</section>
