@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about-us">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    <div>Staff Profiles - Leadership Team</div>
    <div>Messages from ANMF Leadership</div>
    @Html.Partial("Widget-Related-Articles");
</main>
