@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about-us">
    @Html.Partial("Widget-CP-Hero")
    <div>Feature Annual Report to be Added</div>
    @Html.Partial("Listing-AnnualReport")
</main>

