@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}


@section scripts {
     <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
<main class="page-wrapper contact-us">
    @Html.Partial("Widget-CP-Hero")
    <section id="contact-info" class="bg--gray">
        <div class="uk-container">
            <div class="contact-info__holder uk-grid" uk-grid="">
                <div class="uk-width-1-1 uk-width-expand@m uk-first-column">
                    <h2 class="primary--heading f--bold uk-margin-remove-bottom  uk-margin-remove-top">ANMF Federal Office</h2>
                    <span class="font--helvetica f--18 text--black">If you are a member, please contact your state branch.</span>
                    <div class="contact-info__holder-details uk-grid" uk-grid="">
                        <div class="uk-width-1-2@s uk-width-1-1 uk-position-relative uk-first-column">
                            <dt class="font--helvetica f--18 text--black">Contact details</dt>
                            <dd class="text--gray f--16">Tel: +61 3 9602 8500<br />Fax: +61 3 9602 8567<br />E: anmffederal@anmf.org.au</dd>
                        </div>
                        <div class="uk-width-1-2@s uk-width-1-1 uk-position-relative">
                            <dt class="font--helvetica f--18 text--black">Address</dt>
                            <dd class="text--gray f--16">Level 1, 365 Queen Street<br /> Melbourne VIC 3000 Australia</dd> 
                        </div>
                    </div>
                    <p class="f--12 text--gray">
                        Please be advised that our Canberra office number is no longer in use. If you need to contact the ANMF Federal office please use our Melbourne office number listed above.
                    </p>
                    <div class="contact-info__holder-details uk-grid" uk-grid="">
                        <div class="uk-width-1-2@s uk-width-1-1 uk-position-relative uk-first-column">
                            <dt class="font--helvetica f--18 text--black">Education enquiries</dt>
                            <dd class="text--gray f--16">
                                If your enquiry relates to our online Continuing Professional Education courses, please send us a message.
                            </dd>
                        </div>
                        <div class="uk-width-1-2@s uk-width-1-1 uk-position-relative">
                            <dt class="font--helvetica f--18 text--black">Media Enquiries</dt>
                            <dd class="text--gray f--16">Please contact <br />Richard Lenarduzzi 0411 254 390.</dd>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-auto@m">
                    <div class="contact-info__holder-form uk-position-relative">
                        <h2 class="uk-position-relative f--18 text--white uk-margin-remove-top f--bold">Send us a message</h2>
                        @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="80976d23-4cf5-4d45-b626-209adf017f70", FormTheme="", ExcludeScripts="0"})
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Partials/Listings/Branches.cshtml")
</main>
