@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about-us">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Strip-FinancialReport")
    @Html.Partial("Listing-FinancialReport")
</main>
