@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about-us">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    <section class="bg--gray" style="padding-bottom: 150px;">Staff Profiles - Leadership Team</section>
    @Html.Partial("Widget-CTA")
    @Html.Partial("Widget-Related-Articles");
</main>