@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.JoinANMF>
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper join-anmf">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("~/Views/Partials/Listings/Branches.cshtml")
    @Html.Partial("Widget-Feature-Promo") 
</main>