@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper professional-publication">
    @Html.Partial("Widget-CP-Hero")
    <section id="related-article">
        <div class="uk-container">
            <h2 class="primary--heading f--bold">Professional standards & guidelines publications</h2>
            <p class="text--gray f--14">
                The ANMF National practice standards for nurses in general practice articulate what constitutes best practice for registered nurses and enrolled nurses involved in and being attracted to, the increasingly popular area of general practice.
            </p>
            <p class="text--gray f--14">
                Thank you to the hundreds of nurses who generously committed their time to participating in research and contributing to the National Standards
            </p>
            <p class="text--gray f--14">
                We also acknowledge the significant contribution of the Project Advisory Group and Reference Group members to the research and development of these Standards.
            </p>
            <div class="resources-list__content uk-margin-medium">
                <ul class="resources-list__content-list">
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">ANMF National Practice Standards for Nurses in General Practice</h3>                                                        
                        <a href="/media/wmpnb25s/anmf_national_practice_standards_for_nurses_in_general_practice.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                </ul>
            </div>
            <p class="text--gray f--14">
                The ANMF National toolkit for nurses in general practice is a companion document to the ANMF National practice standards for nurses in general practice, providing resources for registered nurses and enrolled nurses working in general practice. In addition, the Toolkit contains information of benefit to general practices seeking to employ registered nurses and midwives.
            </p>
            <p class="text--gray f--14">
                The revised Standards Toolkit includes a self-assessment tool for use against the Standards, a professional development plan and portfolio, sample advertisements, job descriptions and interview questions.
            </p>
            <p class="text--gray f--14">
                Please note that the booklets contained within the Toolkit have been made available to download as separate documents for your convenience.
            </p>
            <div class="resources-list__content uk-margin-medium">
                <ul class="resources-list__content-list">
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">ANMF National Toolkit for Nurses in General Practice </h3>                                                        
                        <a href="/media/wl0no2ou/anmf_national_toolkit_for_nurses_in_general_practice.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">Registered Nurse Self-Assessment/Peer Appraisal Tool and Professional Development Plan Booklet</h3>                                                        
                        <a href="/media/uqtcxx3y/anmf_national_toolkit_for_nurses_in_general_practice_en_booklet.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">Enrolled Nurse Self-Assessment/Appraisal Tool and Professional Development Plan Booklet</h3>                                                        
                        <a href="/media/uqtcxx3y/anmf_national_toolkit_for_nurses_in_general_practice_en_booklet.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">General Practice Resources</h3>                                                        
                        <a href="/media/c45hu5t3/anmf_national_toolkit_for_nurses_in_general_practice_gp_resources.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                </ul>
            </div>
            <h2 class="primary--heading f--bold">National School Nursing Standards for Practice: Registered Nurse</h2>
            <p class="text--gray f--14">
                Released in June 2019, the revised National School Nursing Standards for Practice: Registered Nurse, will benefit school nurses, other members of the school community including parents and children, education sector employers and bureaucrats, and, nursing and midwifery colleagues working in health care in general.
            </p>
            <p class="text--gray f--14">
                These national standards clearly articulate best practice for nurses working in the school setting. They should be used in conjunction with the professional practice framework, mandated by the Nursing and Midwifery Board of Australia, for all nurses.
            </p>
            <p class="text--gray f--14">
                We encourage the use of these revised national standards by nurses working in schools, to enable them to work to their full scope of practice, for the betterment of the health and well-being of children and young people in Australia, and, for building a healthy nation for future generations. As the majority of nurses working in school settings are registered nurses these standards are focused on the independent role of the registered nurse.
            </p>
            <p class="text--gray f--14">
                Thank you to all those school nurses who generously gave of their time to review and provide comment on draft documents during consultation on these standards. Your contributions were invaluable and ensured the national standards reflect and promote the important role of school nurses.
            </p>
            <div class="resources-list__content uk-margin-medium">
                <ul class="resources-list__content-list">
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">National School Nursing Standards for Practice: Registered Nurse</h3>                                                        
                        <a href="/media/asvnsrx1/anmf_national_school_nursing_standards_for_practice_rn_2019.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">2nd Edition of the National School Nursing Professional Practice Standards</h3>                                                        
                        <a href="/media/0fgdusmz/national_informatics_standards_for_nurses_and_midwives.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">The previous National School Nursing Professional Practice Standards (2nd Edition) developed in 2012 are also still available to view.</h3>                                                        
                        <a href="javascript:;" target="_blank" class="primary--cta_text">View</a>
                    </li>
                </ul>
            </div>
            <h2 class="primary--heading f--bold">Nursing Guidelines for the Management of Medicines in Aged Care</h2>
            <p class="text--gray f--14">
                Developed by the ANMF, the Nursing Guidelines for the Management of Medicines in Aged Care promote the safe and competent delivery of medicines to older people. They can be accessed for use by nurses, people receiving aged care and their families, other health professionals, aged care facilities and other key stakeholders. The aim of the nursing guidelines is to provide support and direction for registered and enrolled nurses in the administration of medicines in aged care, as well as clarifying the role of assistants in nursing. The new edition of these guidelines is currently being developed.
            </p>
            <div class="resources-list__content uk-margin-medium">
                <ul class="resources-list__content-list">
                    <li class="uk-flex uk-flex-between">
                        <h3 class="f--16 f--bold uk-margin-remove">National School Nursing Standards for Practice: Registered Nurse</h3>                                                        
                        <a href="/media/i0hjc2u4/management_of_medicines_guidelines_2013.pdf" target="_blank" class="primary--cta_text">View</a>
                    </li>
                </ul>
            </div>
            @Html.Partial("/Views/Partials/Listings/Publications.cshtml")
        </div>
    </section>
</main>