@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper submissions">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("~/Views/Partials/Listings/Professional-Submissions.cshtml")
</main>