@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper nursing-midwives">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("Widget-Feature-Promo") 
    @Html.Partial("~/Views/Partials/Listings/Branches.cshtml")
</main>
